*{
    margin:0;
    padding:0;
}

.first{
    width: 100vw;
    height: 60vh;
    text-align: center;
    background-color: brown;
}
.second{
    background-color: blue;
    width: 200px;
    height: 200px;
}
